{% extends "base.html" %}
{% load static %}
{% block title %} Active Reservation {% endblock %}
{% block header %}
<div class="center-header">
    <ul>
        <li><a href="{% url 'add_reservation' %}">Add</a></li>
        <li><a href="{% url 'reservation' %}">Active</a></li>
        <li><a href="{% url 'reservation_history' %}">History</a></li>
    </ul>
</div>
{% endblock %}
{% block content %}
    <div id="books-container">
    </div>
{% endblock %}

{% block scripts %}
    <script type="module">
        import { fetchBooks } from '/static/js/reservation.js'
        document.addEventListener('DOMContentLoaded', () => {
            fetchBooks('/api/reservations/?page_size=20');
        });
    </script>

{% endblock %}